.bg-hugobot {    
    background-color:#2d3e50;
}

.bg-hugobot a{  
    color: white;  
    
}

.bg-hugobot a:hover{    
    text-decoration: none;
    color: rgb(248, 247, 183);
}


.text-hugobot {
    color: white;
}

.footer-hugobot {
    max-height: 35px;
    min-height: 30px;
}

.emails code{
    color: rgb(152, 219, 139);
}






