
.navbar-tirps{ 
    position: fixed;  
    z-index: 1;  
    background-color:#f1fafa;
    margin-top: -5px;     
}

.navbar-tirps li a{  
    font-weight: bold;  
    color: rgb(0, 0, 0); 
} 

.navbar-tirps li a:hover{
    text-decoration: none;     
    color: rgb(29, 63, 173); 
    background: none;    
} 


